 /* .results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
  } */
  .resultslist {
    /* border: 3px solid black; */
    position: absolute;
    top: 37%;
    left: 25%;
    max-width: 80vw;
    max-height: 50vh;
    overflow-y: scroll;
    align-items: center;
    text-align: center;
    font-family: "Itim", cursive;
    padding-right: 0.5%;
    font-size: 22px;
    justify-content: center;
  }
  
  .resultslist::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }