@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
    height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}
.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}


.homeC {
    flex: 1;
    font-size: 2vw;
    font-family: "Itim", cursive;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: absolute;
    top: 55px; 
    right: 300px; 
    transform: translateX(0); /* ตำแหน่งเริ่มต้น */
  }
  .homeC:hover {
    transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
  }
  .homeC:active {
    transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
  }

.sign_inC {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  align-items: center;
  text-align: left;
  font-size: 30px;
  padding-left: 15px;
  top: 62px;
  right: 55px;
  transition: all 0.3s ease;
  cursor: pointer;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.98em' height='1em' viewBox='0 0 256 262'%3E%3Cpath fill='%234285f4' d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'/%3E%3Cpath fill='%2334a853' d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'/%3E%3Cpath fill='%23fbbc05' d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'/%3E%3Cpath fill='%23eb4335' d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 85%;
  background-position-y: 35%;
  display: inline-block;
  z-index: 999;
 
  }
  .sign_inC:hover {
    transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
  }
  .sign_inC:active {
    transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
  }

.bbox1 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", bold;
  text-align: center;
  left: 12%;
  top: 25%;
  font-size: 2rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
}

.bbox2 {
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 5%;
    top: 32%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox2:active {
    transform: scale(0.9);
}
.bbox2 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}


.bbox3 {
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 3.75%;
    top: 38%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox3:active {
    transform: scale(0.9);
}
.bbox3 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox4 {
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 5%;
    top: 44%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox4:active {
    transform: scale(0.9);
}
.bbox4 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox5 {
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 5%;
    top: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox5:active {
    transform: scale(0.9);
}
.bbox5 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox6 {
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 5%;
    top: 56%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox6:active {
    transform: scale(0.9);
}
.bbox6 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox7 { 
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 47.75%;
    top: 32%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox7:active {
    transform: scale(0.9);
}
.bbox7 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox8 { 
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 50%; 
    top: 38%;  
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox8:active {
    transform: scale(0.9);
}
.bbox8 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox9 { 
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 50%; 
    top: 44%;  
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox9:active {
    transform: scale(0.9);
}
.bbox9 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}

.bbox10 { 
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", bold;
    text-align: center;
    left: 50%; 
    top: 50%;  
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
    word-spacing: 10px;
}
.bbox10:active {
    transform: scale(0.9);
}
.bbox10 li:before {
    content: '\2022'; /* สัญลักษณ์ bullet */
    margin-right: 5px; /* ระยะห่างระหว่าง bullet และข้อความ */
}
 
 
  



