@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
    height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}
.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}

.chaticon {
  position: absolute;
  width: 110px;
  height: 110px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%233e91fe' d='M5.8 12.2V6H2C.9 6 0 6.9 0 8v6c0 1.1.9 2 2 2h1v3l3-3h5c1.1 0 2-.9 2-2v-1.82a.943.943 0 0 1-.2.021h-7zM18 1H9c-1.1 0-2 .9-2 2v8h7l3 3v-3h1c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}


.homeD {
  flex: 1;
  font-size: 2vw;
  font-family: "Itim", cursive;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  top: 55px;
  right: 300px;
  transform: translateX(0); /* ตำแหน่งเริ่มต้น */
}
.homeD:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}
.homeD:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.profileD {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  align-items: center;
  text-align: left;
  font-size: 30px;
  padding-left: 15px;
  top: 62px;
  right: 55px;
  transition: all 0.3s ease;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 80%;
  background-position-y: 10%;
  display: inline-block;
  z-index: 999;
}
.profileD:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}

.profileD:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.bx1 {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 75%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
  cursor: pointer;
}

.bx1:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.bx1:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.bx1_n {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 75%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
  cursor: pointer;
}

.bx1_n:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.bx1_n:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.bx2 {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 10%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 25%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
  cursor: pointer;
}

.bx2:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.bx2:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.bx3 {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 25%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.bx4 {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 16%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 25%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.bx5 {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 18%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 75%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.bx6 {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 75%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.bx7 {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 10%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 25%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
  cursor: pointer;
}

.bx7:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.bx7:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.bx8 {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.bx9 {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 7%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  background-color: #bb3e03;
  color: #ffffff;
  padding-top: 0.5%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bx9:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.bx9:hover {
  box-shadow: 0px 0px 10px 3px #ffffff;
}

.circleE {
  position: absolute;
  align-items: center;
  width: 250px;
  height: 350px;
  background-color: rgb(16, 153, 245);
  border: outset 5px black;
  border-radius: 10%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
