@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whiteboxEDU {
  display: flex;
  width: 100vw;
  height: 80vh;
  overflow-x: hidden;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
  height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}

.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}

.scheE {
  position: absolute;
  border: 3px solid #001219;
  background-color: #001219;
  border-radius: 30px;
  width: 10%;
  height: 4%;
  font-family: "Itim", cursive;
  align-items: center;
  text-align: center;
  font-size: 30px;
  top: 59px;
  right: 45px;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}
.scheE:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}

.scheE:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.homeE {
  flex: 1;
  font-size: 2vw;
  font-family: "Itim", cursive;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  top: 55px;
  right: 300px;
  transform: translateX(0); /* ตำแหน่งเริ่มต้น */
}
.homeE:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}
.homeE:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.bxx1 {
  position: absolute;
  background-color: #bb3e03;
  border-radius: 6px;
  width: 16%;
  height: 2.5%;
  font-family: "Itim", bold;
  text-align: center;
  left: 15%;
  top: 23%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 0.5% 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: #000;
  white-space: nowrap;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}
.box1alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", Bold;
  text-align: center;
  left: 10%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}
.box2alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", Bold;
  text-align: center;
  left: 20.4%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box3alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 25%;
  top: 5%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box4alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 41%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box5alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 38.75%;
  top: 5%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box6alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 65.5%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box7alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 74%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box8alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 57.5%;
  top: 5%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box9alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 87%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box10alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 56%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.box11alert {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 75.75%;
  top: 5%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.cir1 {
  position: absolute;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50%;
  left: 3%;
  top: 37%; /* ปรับตำแหน่งตามที่ต้องการ */
  transform: translate(-50%, -50%);
}

.submitEDUalert {
  position: absolute;
  border-radius: 25px;
  width: 7%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 90%; /* ปรับตำแหน่งตามที่ต้องการ */
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  background-color: #0a9396;
  font-size: 22px;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submitEDUalert:active {
  transform: translate(-50%, -50%) scale(0.95);
}
.submitEDUalert:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.search-bar-container {
  position: absolute;
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  top: 0.5%;
  left: 30%;
  font-family: "Itim", cursive;
  z-index: 7;
}

.scroll-scheEdualert {
  position: relative;
  flex-direction: column;
  border: 2px dashed rgb(150, 150, 200); /* เปลี่ยนสีของเส้นเป็นสีเขียว */
  border-radius: 30px; /* เพิ่ม border-radius เพื่อมุมโค้ง */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อเน้นความลึก */
}

.scroll-VIEW1 {
  position: absolute;
  width: 90vw;
  border: 1px solid black;
  height: 100vh;
  margin-top: 10%;
  left: 5%;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* เลือก auto เพื่อให้มี scrollbar เมื่อเนื้อหาเกินขนาดกล่องแนวตั้ง */
  overflow-x: hidden; /* ล็อกการเลื่อนแนวนอน */
}
.chose {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 6vh;
}

.swal2-popup {
  width: 600px !important; /* กำหนดความกว้าง */
  height: 400px !important; /* กำหนดความสูง */
}
.swal2-select {
  max-height: 50px; /* กำหนดความสูงสูงสุดของ dropdown */
  overflow-y: scroll; /* เพิ่ม scrollbar เมื่อเกินขนาดที่กำหนด */
}

.popupdate-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* สีพื้นหลังแบบทึบ */
  z-index: 999; /* กำหนดให้ Popup อยู่ด้านบนสุด */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupdate-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box_alert_teacher:hover {
  width: 25%; /* กำหนดขนาดให้ขยาย */
  height: auto; /* กำหนดขนาดให้ขยาย */
  z-index: 999; /* ทับกล่องอื่นๆ ในระหว่างการโฮเวอร์ */
}

.box_alert_teacher {
  overflow: hidden; /* ป้องกันข้อมูลที่โอเวอร์ฟลาว์ */
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 1%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 250px; /* ปรับขนาดตามเนื้อหาภายใน */
  height: 30px; /* ปรับขนาดตามเนื้อหาภายใน */
  z-index: 99;
  position: relative; /* ต้องใช้ position: relative; หรือ position: absolute; หรือ position: fixed; ขึ้นอยู่กับที่ตั้งของกล่อง */
  transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลงที่น่าสังเกต */
  text-overflow: ellipsis;
}
.box_alert_id {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 180px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_name:hover {
  width: 30%; /* กำหนดขนาดให้ขยาย */
  height: auto; /* กำหนดขนาดให้ขยาย */
  z-index: 999; /* ทับกล่องอื่นๆ ในระหว่างการโฮเวอร์ */
}

.box_alert_name {
  overflow: hidden; /* ป้องกันข้อมูลที่โอเวอร์ฟลาว์ */
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 1%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 250px; /* ปรับขนาดตามเนื้อหาภายใน */
  height: 35px; /* ปรับขนาดตามเนื้อหาภายใน */
  z-index: 99;
  position: relative; /* ต้องใช้ position: relative; หรือ position: absolute; หรือ position: fixed; ขึ้นอยู่กับที่ตั้งของกล่อง */
  transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลงที่น่าสังเกต */
  text-overflow: ellipsis;
}

.box_alert_None2 {
  display: flex;
  /* border: 3px solid black; */
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 0px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_sec {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 220px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_no {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 190px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_None1 {
  display: flex;
  /* border: 3px solid black; */
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  /* background-color: rgb(217, 217, 217); */
  width: 0px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_major {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 150px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_day {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 350px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_room {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 180px; /* กำหนดความกว้างเป็น 200px */
  height: 60px; /* กำหนดความสูงเป็น 200px */
}

.box_alert_Email {
  overflow: hidden; /* ป้องกันข้อมูลที่โอเวอร์ฟลาว์ */
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 1%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 270px; /* ปรับขนาดตามเนื้อหาภายใน */
  height: 30px; /* ปรับขนาดตามเนื้อหาภายใน */
  z-index: 99;
  position: relative; /* ต้องใช้ position: relative; หรือ position: absolute; หรือ position: fixed; ขึ้นอยู่กับที่ตั้งของกล่อง */
  transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลงที่น่าสังเกต */
  text-overflow: ellipsis;
}

.Text_alert {
  position: absolute; /* เปลี่ยนจาก fixed เป็น sticky */
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 50%;
  top: 22.5%; /* กำหนดให้อยู่ด้านบน */
  transform: translate(-50%, 0); /* เปลี่ยน transform เพื่อให้กลางจอ */
  font-size: 50px;
  padding: 0.5% 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold;
  z-index: 999; /* กำหนด z-index เพื่อให้อยู่ด้านบนของเนื้อหา */
}

.BOX_TOTAL {
  padding: 10px; /* เพิ่มระยะขอบภายใน BOX_TOTAL */
  border-radius: 10px; /* ทำให้มีมุมโค้ง */
  align-items: center;
  width: 100%;
  display: absolute;
  height: 100%;
}

.BOXchon {
  position: relative;
  flex-direction: column;
  border: 2px dashed rgb(150, 150, 200); /* เปลี่ยนสีของเส้นเป็นสีเขียว */
  border-radius: 30px; /* เพิ่ม border-radius เพื่อมุมโค้ง */
  width: 80%;
  height: 20%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 5%;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  left: 10%;
}
