@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.boxnoti {
  z-index: 1;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 25px;
  color: #000000;
  width: 25%;
  height: 48%;
  display: flex;
  left: 50%;
  top: 50%;
  padding: 10px;
  /* ปรับตำแหน่งตามที่ต้องการ */
  transform: translate(-50%, -50%);
  /* font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center; */
  border: 3px solid black;
}

.layout-notifi {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notifi {
  font-family: "Itim", cursive;
  font-size: 22px;
  padding: 10px;
}
.nofi-layout-clear-box{
  display: flex;
  flex-direction: column;

  align-content: end;
  justify-content: end;
}

.clear {
  width: 16%;
  display: flex;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  background-color: #CA6702;
  color: #ffffff;
  padding-top: 0.5%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.clear:hover {
  box-shadow: 0px 0px 10px 3px rgb(184, 178, 178);
  transform: translateX(-1px);
}

.clear:active {
  transform: translateY(2px);
}


.chatNo1 {
  width: 100%;
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  justify-content: space-between;
  font-family: "Itim"
  
}
.noti-text-box{
  display: flex;
  width: 90%;
  justify-content: start;
  height: 50px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 22px;
}
.icon-small1{
  display: flex;
  padding: 5px;
}

.noti-chat-box{
  padding: 10px;
  display: flex;
  gap: 10px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.nofi-flex-rowbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  margin-left: 5px;
  font-size: 18px;
  font-family: "Itim"

}

.noti-blur1 {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
