@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
  height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}

.menu_bar {
    display: flex;
    flex: 5;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    font-size: 2.4vw;
    color: #ffffff;
  }
  
  .profile {
    position: absolute;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding-left: 0px;
    top: 55px;
    right: 55px;
    transition: all 0.3s ease;
  }
  .profile:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  .profile:active {
    transform: scale(0.9);
    border-color: rgba(0, 0, 0, 0.5);
  }
  .ph--user-bold {
    display: inline-block;
    width: 0.75em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52'/%3E%3C/svg%3E");
    position: absolute;
    top: 55px;
    right: 70px;
    z-index: 999;
  }
  
  .sign-In {
    flex: 1;
    font-size: 2vw;
    margin-right: 2%;
    font-family: "Itim", cursive;
    padding-right: 80%;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
  }
  
  .sign-In:active {
    transform: scale(0.9);
    border-color: #9b2226;
  }

  .mdi--filter {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M14 12v7.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0l-2.01-2.01a.989.989 0 0 1-.29-.83V12h-.03L4.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L14.03 12z'/%3E%3C/svg%3E");
    position: absolute;
    cursor: pointer;
    top: 160px;
    right: 40px;
  }
  .mdi--filter:active {
    transform: scale(0.9);
  }

  .bxx1 {
    position: absolute;
    background-color: #BB3E03;
    border-radius: 6px;
    width: 16%;
    height: 2.5%;
    font-family: "Itim", bold;
    text-align: center;
    left: 15%;
    top: 23%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    padding: 0.5% 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: #000;
    white-space: nowrap;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}


  .bxx2{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", Bold;
    text-align: center;
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx3{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 23%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx4{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 35%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx5{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 43.5%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx6{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 53%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx7{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 62.5%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx8{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 72%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx9{
    position: absolute;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 82.5%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
  }

  .bxx10 {
    position: absolute;
    border: 3px solid #000;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 10%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 10%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .bxx11 {
    position: absolute;
    border: 3px solid #000;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 15%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 23%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .bxx12 {
    position: absolute;
    border: 3px solid #000;
    border-radius: 20px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 35%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  
  .bxx13 {
    position: absolute;
    border: 3px solid #000;
    border-radius: 20px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 43.5%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

 
  .bxx14 {
    position: absolute;
    border: 3px solid #000;
    border-radius: 20px;
    width: 10%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 53%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .bxx15 {
    position: absolute;
    border: 3px solid #000;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 62.5%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .bxx16 {
    position: absolute;
    border: 3px solid #000;
    border-radius: 20px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: center;
    left: 72%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='black' d='M1.543 9.192c9.107 16.636 18.215 33.26 27.32 49.898a3.575 3.575 0 0 0 6.327 0c9.108-16.636 18.215-33.26 27.32-49.898c1.409-2.571-.387-5.902-3.163-5.902H4.698c-1.54 0-2.571.828-3.111 1.949c-.676 1.068-.859 2.488-.052 3.953'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 50% 60%;
    background-position: right center; 
}
.bxx16:active {
    transform: translate(-50%, -50%) scale(0.95);
}
.bxx16:hover {
    box-shadow: 0px 0px 10px 3px #d9d9d9;
}


  .bxx17 {
    position: absolute;
    border: 3px solid #000;
    border-radius: 20px;
    width: 8%;
    height: 4%;
    font-family: "Itim", cursive;
    text-align: left;
    left: 82.5%;
    top: 37%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='black' d='M1.543 9.192c9.107 16.636 18.215 33.26 27.32 49.898a3.575 3.575 0 0 0 6.327 0c9.108-16.636 18.215-33.26 27.32-49.898c1.409-2.571-.387-5.902-3.163-5.902H4.698c-1.54 0-2.571.828-3.111 1.949c-.676 1.068-.859 2.488-.052 3.953'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 50% 60%;
    background-position: right center; 
  }
  .bxx17:active {
    transform: translate(-50%, -50%) scale(0.95);
}
  .bxx17:hover {
    box-shadow: 0px 0px 10px 3px #d9d9d9;
  }

  .note {
    position: absolute;
    border: 3px solid #000;
    border-radius: 30px;
    width: 95%;
    height: 6%;
    font-family: "Itim", cursive;
    text-align: left;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.3s ease;
}

  .cir1 {
    position: absolute;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 50%;
    left: 3%;
    top: 37%; /* ปรับตำแหน่งตามที่ต้องการ */
    transform: translate(-50%, -50%);
}

.submit {
    position: absolute;
    border-radius: 25px;
    width: 7%;
    height: 4%;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 90%; /* ปรับตำแหน่งตามที่ต้องการ */
    transform: translate(-50%, -50%);
    font-family: 'Itim', cursive;
    padding-top: 0.5%;
    background-color: #0A9396;
    font-size: 22px;
    justify-content: center;
    color:#ffffff ;
    cursor: pointer;
}
.submit:active {
    transform: translate(-50%, -50%) scale(0.95);
}
.submit:hover {
    box-shadow: 0px 0px 10px 3px #d9d9d9;
}