@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
  height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}

.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}

.profileJ {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  align-items: center;
  text-align: left;
  font-size: 30px;
  padding-left: 15px;
  top: 62px;
  right: 55px;
  transition: all 0.3s ease;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 80%;
  background-position-y: 10%;
  display: inline-block;
  z-index: 999;
}
.profileJ:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}

.profileJ:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.homeJ {
  flex: 1;
  font-size: 2vw;
  font-family: "Itim", cursive;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  top: 55px; 
  right: 300px; 
  transform: translateX(0); /* ตำแหน่งเริ่มต้น */
}
.homeJ:hover {
  transform: translateX(-5px); /* ขยับปุ่มไปทางซ้ายเล็กน้อยเมื่อโฮเวอร์ */
}
.homeJ:active {
  transform: translateY(2px); /* ขยับปุ่มลงเล็กน้อยเมื่อถูกกด */
}

.bxx1 {
  position: absolute;
  background-color: #bb3e03;
  border-radius: 6px;
  width: 16%;
  height: 2.5%;
  font-family: "Itim", bold;
  text-align: center;
  left: 15%;
  top: 23%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 0.5% 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: #000;
  white-space: nowrap;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx2 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", Bold;
  text-align: center;
  left: 8%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx3 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 21%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx4 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 34%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx5 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 43.4%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx6 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 52%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx7 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 60%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx8 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 67.5%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx9 {
  position: absolute;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 82%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: bold; /* ทำให้ตัวอักษรเป็นตัวหนา */
}

.bxx10 {
  position: absolute;
  border: 3px solid #000;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 10%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 10%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx11 {
  position: absolute;
  border: 3px solid #000;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 15%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 23%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx12 {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 35%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx13 {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 43.5%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx14 {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20px;
  width: 10%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 53%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx15 {
  position: absolute;
  border: 3px solid #000;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 62.5%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bxx16 {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: center;
  left: 72%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='black' d='M1.543 9.192c9.107 16.636 18.215 33.26 27.32 49.898a3.575 3.575 0 0 0 6.327 0c9.108-16.636 18.215-33.26 27.32-49.898c1.409-2.571-.387-5.902-3.163-5.902H4.698c-1.54 0-2.571.828-3.111 1.949c-.676 1.068-.859 2.488-.052 3.953'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 50% 60%;
  background-position: right center;
}
.bxx16:active {
  transform: translate(-50%, -50%) scale(0.95);
}
.bxx16:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.bxx17 {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20px;
  width: 8%;
  height: 4%;
  font-family: "Itim", cursive;
  text-align: left;
  left: 82.5%;
  top: 37%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='black' d='M1.543 9.192c9.107 16.636 18.215 33.26 27.32 49.898a3.575 3.575 0 0 0 6.327 0c9.108-16.636 18.215-33.26 27.32-49.898c1.409-2.571-.387-5.902-3.163-5.902H4.698c-1.54 0-2.571.828-3.111 1.949c-.676 1.068-.859 2.488-.052 3.953'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 50% 60%;
  background-position: right center;
}
.bxx17:active {
  transform: translate(-50%, -50%) scale(0.95);
}
.bxx17:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.note {
  position: absolute;
  border: 3px solid #000;
  border-radius: 30px;
  width: 95%;
  height: 6%;
  font-family: "Itim", cursive;
  text-align: left;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  padding: 0.5% 0.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.3s ease;
}

.cir1 {
  position: absolute;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50%;
  left: 3%;
  top: 37%; /* ปรับตำแหน่งตามที่ต้องการ */
  transform: translate(-50%, -50%);
}

.submit {
  position: absolute;
  border-radius: 25px;
  width: 7%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 90%; /* ปรับตำแหน่งตามที่ต้องการ */
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  background-color: #0a9396;
  font-size: 22px;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit:active {
  transform: translate(-50%, -50%) scale(0.95);
}
.submit:hover {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.search-bar-container {
  position: absolute;
  padding-top: 20vh;
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  top: 0.5%;
  left: 40%;
  font-family: "Itim", cursive;
  z-index: 7;
}

.scroll-scheteacher {
  position: absolute;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 95vw;
  height: 42vh;
  top: 33%;
  left: 2%;
  overflow-y: scroll;
}
.scroll-scheteacher::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.choseTeacher {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 6vh;
  padding-top: 5px;
  margin-bottom: 1%;
}

.swal2-popup {
  width: 600px !important; /* กำหนดความกว้าง */
  height: 400px !important; /* กำหนดความสูง */
}

.popupdate-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* สีพื้นหลังแบบทึบ */
  z-index: 999; /* กำหนดให้ Popup อยู่ด้านบนสุด */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupdate-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box_sub_id {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 180px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_name {
  overflow: hidden; /* ป้องกันข้อมูลที่โอเวอร์ฟลาว์ */
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 1%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 250px; /* ปรับขนาดตามเนื้อหาภายใน */
  height: 30px; /* ปรับขนาดตามเนื้อหาภายใน */
  z-index: 99;
  position: relative; /* ต้องใช้ position: relative; หรือ position: absolute; หรือ position: fixed; ขึ้นอยู่กับที่ตั้งของกล่อง */
  transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลงที่น่าสังเกต */
  text-overflow: ellipsis;
}

.box_sub_name:hover {
  width: 50%; /* กำหนดขนาดให้ขยาย */
  height: auto; /* กำหนดขนาดให้ขยาย */
  z-index: 999; /* ทับกล่องอื่นๆ ในระหว่างการโฮเวอร์ */
}

.box_sub_credit {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 140px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_sec {
  position: relative;
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  /* padding-top: 0.5%; */
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 120px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_no {
  position: relative;
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_force_or_not {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  width: 100px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_major {
  position: relative;
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 150px; /* กำหนดความกว้างเป็น 200px */
  height: 55px; /* กำหนดความสูงเป็น 200px */
}

.box_sub_day {
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
  margin-left: 1%;
  margin-right: 0.2%;
  align-items: center;
  text-align: center;
  font-family: "Itim", cursive;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 350px; /* กำหนดความกว้างเป็น 200px */
  height: 42.8px; /* กำหนดความสูงเป็น 200px */
}

.box_delete {
  display: flex;
  width: fit-content; /* กำหนดความกว้างเป็น 200px */
  height: 100%; /* กำหนดความสูงเป็น 200px */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.box_delete:active {
  transform: scale(0.9); /* ย่อขนาดปุ่มเมื่อถูกกด */
}
