@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
  overflow-x: auto; /* เพิ่มการเลื่อนแนวนอน */
}
.kubar {
  display: flex;
  flex: 18;
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}
.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}
/* CSS เพิ่มเติมสำหรับตารางเรียน */
.schedule-tablee {
  margin: 0 auto; /* จัดตำแหน่งตารางให้อยู่ตรงกลางของหน้าจอ */
  border-collapse: collapse;
  width: 800px; /* กำหนดความกว้างของตารางเป็น 800 พิกเซล */
  height: 50%; /* กำหนดความสูงของตารางให้เต็มรอบ */
  margin-top: 3%;
  font-family: "Itim", cursive;
}

.schedule-tablee th,
.schedule-tablee td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  width: 200px;
}

.schedule-tablee th {
  background-color: #9b2226;
  color: #ffffff;
}

.schedule-tablee td {
  background-color: #ffffff;
  color: #000000;
}

.whitebox {
  overflow-x: auto;
}

/* CSS สีประจำวันในตารางเรียน */
.schedule-tablee th:first-child,
.schedule-tablee td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.dropdown-containerr {
  position: absolute;
  top: 160px;
  left: 13px;
  width: 100px; /* Adjust the width as needed */
}

/* สีประจำวันอาทิตย์ */
.sun.day-row .class-info {
  background-color: #f87171;
}

/* สีประจำวันจันทร์ */
.mon.day-row .class-info {
  background-color: #fef0b9;
}

/* สีประจำวันอังคาร */
.tue.day-row .class-info {
  background-color: #f8aad3;
}

/* สีประจำวันพุธ */
.wed.day-row .class-info {
  background-color: #85e5c2;
}

/* สีประจำวันพฤหัสบดี */
.thu.day-row .class-info {
  background-color: #fdd97c;
}

/* สีประจำวันศุกร์ */
.fri.day-row .class-info {
  background-color: #a0c9fc;
}

/* สีประจำวันเสาร์ */
.sat.day-row .class-info {
  background-color: #a78bfa;
}
