@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.allbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #9b2226;
  align-items: center;
}
.whitebox {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.imglogo {
  display: flex;
  width: 8.7vw;
  height: 13vh;
  margin-left: 1%;
}
.kubar {
  display: flex;
  flex: 18;
  /* width: 55vw;
    height:100%; */
  flex-direction: column;
  margin-left: 3%;
  padding-top: 2%;
  color: #ffffff;
  text-align: left;
  font-family: "Itim", cursive;
}
.thai_ku {
  font-size: 2.2vw;
}
.english_ku {
  font-size: 2vw;
}
.menu_bar {
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  font-size: 2.4vw;
  color: #ffffff;
}
.signT {
  flex: 1;
  font-family: "Itim", cursive;
  transition: all 0.3s ease;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  position: relative;
  width: 8%;
  align-items: center;
}

.profileT {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 9.5%;
  height: 6%;
  font-size: 40px;
  font-family: "Itim", cursive;
  text-align: left;
  padding-left: 5px;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
}

.sign-iN {
  position: absolute;
  flex: 1;
  font-family: "Itim", cursive;
  margin-right: 11%;
  font-size: 2vw;
}
.sign-iN:active {
  transform: scale(0.9);
  border-color: #9b2226;
}

.box1t {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 75%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
  cursor: pointer;
}

.box1t:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.box1t:active {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.box2t {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 10%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 25%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  padding-top: 0.5%;
  background-color: rgb(217, 217, 217);
  transition: all 0.3s ease;
}

.box2t:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.box2t:active {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.box3t {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 25%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.box4t {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 16%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 25%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.box5t {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 18%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 75%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.box6t {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 75%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.box8t {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px;
  width: 15%;
  height: 4%;
  align-items: center;
  text-align: left;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 22px;
  justify-content: center;
  background-color: rgb(217, 217, 217);
}

.box9t {
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 7%;
  height: 4%;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-family: "Itim", cursive;
  font-size: 22px;
  justify-content: center;
  background-color: #bb3e03;
  color: #ffffff;
  padding-top: 0.5%;
  transition: all 0.3s ease;
}

.box9t:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.box9t:active {
  box-shadow: 0px 0px 10px 3px #d9d9d9;
}

.circleT {
  position: absolute;
  align-items: center;
  width: 250px;
  height: 350px;
  background-color: rgb(16, 153, 245);
  border: outset 5px black;
  border-radius: 10%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.icon-noti {
  position: absolute;
  top: 20%;
  left: 95%;
}
